@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary: #224fb1;
$secondary: #6A88CA;
$font-family-base: 'Poppins', sans-serif;

@import 'bootstrap/scss/bootstrap';
@import 'sweetalert2/src/sweetalert2';
@import 'datatables.net-bs4/css/dataTables.bootstrap4';
@import 'datatables.net-responsive-bs4';

html{
    overflow-y: auto !important;
}

body {
    padding-right: 0 !important;
}

::selection {
    background-color: $secondary;
    color: #fff;
}

.login-card{
    max-width: 400px;
}

.navbar {
    box-shadow: 0 1px 5px 0 black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.nav-head{
    font-weight: 600;
    > * {
        vertical-align: middle;
        line-height: normal;
    }

    @media screen and (max-width: 578px) {
        max-width: 150px;
    }
}

.dataTables_filter input {
    @media screen and (max-width: 320px) {
        max-width: 120px;
    }
}

.dataTables_processing.card{
    z-index: 200;
}

.dt-buttons.btn-group.flex-wrap{
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    margin-bottom: 0.65rem;
}

.dt-buttons.btn-group.flex-wrap button{
    border-radius: 0.25rem !important;
}
